@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Roboto+Mono:wght@400&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: 'Roboto', sans-serif;
  --font-mono: 'Roboto Mono', monospace;

  --color-white: #FFFFFF;
  --color-black: #0F0F0F;

  --color-primary: #FF0000;
  --color-primary-hover: #CC0000;
  --color-secondary: #065FD4;

  --color-success: #2BA640;
  --color-warning: #FB8C00;
  --color-error: #FF0000;

  --color-background: #FFFFFF;
  --color-surface: #F2F2F2;
  --color-surface-hover: #E5E5E5;

  --color-text-main: #0F0F0F;
  --color-text-muted: #606060;

  --color-border: #E5E5E5;

  --radius-sm: 2px;
  --radius-md: 4px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-full: 9999px;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text-main);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .elevation-1 {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  .elevation-2 {
    box-shadow: 0 4px 32px rgba(0, 0, 0, 0.1);
  }
  .elevation-3 {
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
  }
}
